
/* ----- Vanessa Neira-----  */
/* ----- CSS Styles-----  */


*, *::before, *::after{
    box-sizing: border-box;
}


/* ------De etiqueta------ */

a{
    text-decoration: none;
}

body{
    margin: 0;
    font-size:  20px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 600px;
    display: block;
}

footer p{
    text-align: center;
}

html{
    scroll-padding-top: 4rem;
}

li{
    list-style: none;
    margin: 10px;
}

ul{
    padding-inline-start: 0px;
    margin: 0;
}


/* ------De clase------ */


.bg-primary{
    background-color: white
}

.big-card{
    border: solid;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    background-color: white;
}

.btn-primary{
    border-radius: 8rem;
    background-color: #17909e;
    padding: 0.8rem;
    color: #f9d090;
    display: inline-block;
}

.btn-primary:hover{
    box-shadow: 0px 0px 15px 0px rgba(240, 235, 240, 0.5); 
    color: #571c56;
    background-color: #1fadbd;
}

.btn-primary:focus{
    background-color: #146d77;
    color: #38a48b;
}

.btn-header{
    margin: 0.5em;
    padding: 0.5em;
    color: #f9d090
}

.btn-header:hover{
    color: #38a48b;
}

.btn-header:active{
    border-radius: 100px;
    box-shadow: 0px 0px 15px 0px rgba(240, 235, 240, 0.5);  
}

.btn-secondary{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 100px;
    background-color: #17909e;
    margin: 1.3rem 1rem;
    padding: 10px;
    width: 7.5em;
}

.card{
    border: solid;
    border-radius: 10px;
    margin-top: 10px;
    height:250px;
    width:250px; 
    text-align: center;
}

.card:hover{
    box-shadow: 0px 0px 15px 0px rgba(87,28,86,0.5);
    color: blueviolet;
}

.card-box li {
    border: solid;
    border-radius: 10px;
    margin-top: 10px;
    height:250px;
    width:250px;
    text-align: center;
    justify-content: center;
    padding: 110px 40px 130px;
}

.container{
    width: 75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.conocimientos-container{
    width: 75rem;
    padding: 2rem 5rem;
}

.findme-list:hover , .findme-list:hover .social-logo {
    color: #c8bb48;
}

.footer-container{
    width: 75rem;
    height: 20rem;
}

.footer-letter a{
    color: #f9d090
}

.footer-logo{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.footer-circle-social-logo a {
    border: solid #1a5678;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-circle-social-logo a:hover {
    background-color: #1a5678;
}

.footer-circle-social-logo a:hover .fab, 
.footer-circle-social-logo a:hover .fas {
    color: #242261;
}

.form-message{
    height: 10em;
    width: 43em;
}

.form-style{
    background-color:rgb(241, 241, 241);
    border-radius: 1rem;
    border: hidden;
    padding: 8px 20px;
}

.form-style:focus{
    box-shadow: 0px 0px 15px 0px rgba(87,28,86,0.5);
    outline-style: none;
}

.image-primary{
    height: 400px;
}

.image-proyectos{
    max-width: 100%;
    height: 100%;
    object-fit:contain;
    overflow: hidden;
}

.letters-primary{
    color: #bfc849;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    font-weight: 800px;
}

.letters-secondary{
    color: #17909e;
    font-size: 0.5em;
    font-family: 'Permanent Marker', cursive;
    font-weight: 2em;
}

.letters-tertiary{
    color: green;
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
    font-weight: 2em;
}

.logo{
    color: darkblue;
    size: 200px;
}

.mid-card{
    border: solid;
    border-radius: 10px;
    align-items: center;
    height: 300px;
    width: 300px;
    color: #1a5678;
}

.mid-card:hover{
    box-shadow: 0px 0px 15px 0px rgba(87,28,86,0.5);
    color: blueviolet;
}

.nav-primary{
    width: 75rem;
}

.proy-title-height{
    height: 30%;
}

.quote-mark{
    padding: 1em;
}

.quote-text{
    text-align: center;
    size: 8em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.screen-compu{
    padding: 100px 200px;
    align-items: center;
}

.social-logo{
    color: #38a48b;
    cursor: pointer;
}


/* ---------FLEX----------- */

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.basis-50{
    flex-basis: 50%;
}

.d-flex{
    display:flex;
}

.flow-column{
    flex-flow: column;
}

.justify-center{
    justify-content: center;
}

.justify-right{
    justify-content: right;
}

.justify-space-around{
    justify-content: space-around
}

.justify-space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}


/* ------Id's------ */

#header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #242261;
    box-shadow:   0px 0px 50px 0px rgba(56,164,139, 0.90);
    z-index: 1;
    margin-top: 0px;
}

#presentacion{
    height: 40rem;
    position: relative;
}

#conocimientos{
    background-color: whitesmoke;
    color: #1a5678;
}

#quote{
    background-image: url(../Portafolio/images/fondo1.png);
    height: 30rem;
    color: #f9d090;
}

#mis-proyectos{
    background-color: white;
    color: #1a5678;
}

#contacto{
    background-color: whitesmoke;
    color: #1a5678;
}

#contacto p{
    margin-right: 3em;
}

#footer{
    background-color: #242261;
    width: 100%;
    padding-top: 5rem;
    color: #f9d090;
}


/* ------Media Queries------ */

@media (max-width: 1200px) {

    html{
        scroll-padding-top: 0;
    }
    
    .apellido-media{
        flex-flow: column;
    }

    .basis-50 h1,
    #presentacion .basis-50{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .btn-primary{
        width: 7.5em;
    }

    .container{
        width: 50rem;
    }

    .form-message{
        height: 13em;
        width: 30em;
    }

    .media-presentacion{
        flex-flow: column;
    }

    #header{
        display: none;
    }

    #presentacion{
        height: 60rem;
        display: flex;
    }

    
}

@media (max-width: 850px) {

    .container{
        width: 40rem;
    }

    .expand{
        width: 100%;
    }

    .footer-container{
        height: 15rem;
    }

    .media-escribeme{
        padding-top: 3.2rem;
    }

    #contacto ul {
        display:flex;
        align-items: inherit;
        /* esta sección esta siendo revisada por el profe */
        /* column-count: 2; */
    }
    
    #contacto .container{
        display: block
    }

    #contacto .container div,
    #contacto p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0px;
        text-align: center;
        width: 100%;
    }

    #presentacion{
        height: 50rem;
    }

    #quote{
        padding: 2em 5em;
        font-size: 0.7em;
    }

}

@media (max-width: 650px) {
    .container{
        width: 30rem;
    }

    #mis-proyectos p, #conocimientos p, #presentacion p{
        text-align: center;
    }
    
    #footer{
        font-size: 1rem;
    }

    #presentacion{
        height: 45rem;
    }
}