.titulo{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.parrafo1{
    color: gray;

}

.link{
    color: rgb(0, 162, 255);
    text-decoration: none;
    
}

.parrafo2{
    font-style: italic;
}

.parrafo3{
    font-weight: bold;
}

.parrafo4{
    font-style: italic;
    font-family: monospace;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}